<%- include('../../views/_partial/header'); %>
<body class="container">
<main>
  <div class="jumbotron">
    <h1>About page!</h1>
  </div>
</main>
</body>
<%- include('../../views/_partial/footer'); %>