<!DOCTYPE html>
<html lang="en">
<%- include('../../views/partial/head'); %>
<body class="container">

<%- include('../../views/partial/header'); %>

<main>
  <div class="jumbotron">
    <h1>This is the Home page!</h1>
  </div>
</main>

<%- include('../../views/partial/footer'); %>

</body>
</html>